@charset "utf-8";

@import url(./data/utility.css);

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}


.header-content {
  background-color: #a0c5ff;
  color: black;
  height: 70px;
}

.header-content .container {
  display: flex;
  align-items: center;
}
