@charset "utf-8";

@import url(./data/reset.css);
@import url(./header.css);
@import url(./data/utility.css);


main {
  display: flex;
}

.login-form-side, .picture-side {
  height: 100vh;
  width: 50%;
}

/* Image login form*/
.picture-side {
  background-image: url(../img/login-page-picture.jpg);
  background-position: center;
  background-size: cover;
} 

.overlay {
  padding: 40px 25px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #00000000, #a0c4ff7d);
}

/*  login form */

